---
layout: page
permalink: /articles/git/
logo: git.svg
background: monolith0.webp
---

{% include header.html %}

<div class="container">
	<div class="text-center">
		<span class="rounded-card sticky-top">
			<a href="/articles/{{page.category}}" class="button nier highlight-hover bullet triangle-left">Back</a>
		</span>
	</div>
{% assign articles = site.articles | where: "category", "git" %}
{% if articles.size == 0 %}
	{% wip %}
	<p>Aucun article disponible pour le moment. Ils sont bien en cours de rédaction mais aucun n'est encore publié. Merci de repasser ultérieurement.</p>
{% endif %}
	<section class="article-cards">
	{% for article in articles %}
		<a href="{{ article.url }}" class="card">
			<header{% if article.background != "" %} style="--background-image: url('/assets/images/backgrounds/{{article.background}}');"{% endif %}>
				<h2>{{ article.title }}</h2>
			</header>
			<div>{{ article.excerpt }}</div>
		</a>
	{% endfor %}
	</section>
</div>
