---
layout: page
permalink: /articles/c++/
logo: c++.svg
background: mountains1.jpg
---

{% include header.html %}

<div class="container">
	<div class="text-center">
		<span class="rounded-card sticky-top">
			<a href="/articles/{{page.category}}" class="button nier highlight-hover bullet triangle-left">Back</a>
		</span>
	</div>
	<section class="article-cards">
	{% for article in site.articles %}
		{% if article.category == "c++" %}
		<a href="{{ article.url }}" class="card">
			<header{% if article.background != "" %} style="--background-image: url('/assets/images/backgrounds/{{article.background}}');"{% endif %}>
				<h2>{{ article.title }}</h2>
			</header>
			<div>{{ article.excerpt }}</div>
		</a>
		{% endif %}
	{% endfor %}
	</section>
</div>
