<footer class="container-fluid no-gutters">
	<p class="text-center">
		<a href="https://discord.gg/mxZvun4"><img src="https://img.shields.io/discord/268838260153909249?label=Chat&logo=Discord&style=for-the-badge" alt="Discord"></a>
		<a href="https://github.com/MorganCaron"><img src="https://img.shields.io/badge/Github-%23111?style=for-the-badge&logo=github&logoColor=white" alt="Github"></a>
		<a href="https://www.linkedin.com/in/morgancaron/"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn"></a><br>
		<span class="rounded-card">Subscribe via <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}" class="rss underlined">RSS <i class="las la-rss"></i></a></span>
	</p>

	<p class="text-center">
		<span class="rounded-card">
			Copyright © 2025 <a href="https://github.com/MorganCaron">Morgan Caron</a><br>
			You can support my work financially by <a href="https://github.com/sponsors/MorganCaron">becoming a sponsor</a> 💖
		</span>
	</p>
</footer>
