<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }}{% else %}Morgan Caron's Devblog{% endif %}</title>
		<meta name="darkreader-lock">
		<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"></script>
		<script>
			anchors.options.placement = 'right';
			anchors.add('.page > section h2, .page > section h3, .page > section h4, .page > section h5, .page > section h6');
		</script>
	</head>
	<body{% if page.background != "" %} style="--background-image: url('/assets/images/backgrounds/{{page.background}}');"{% endif %}>
		{{ content }}
		<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
	</body>
</html>
